#roll {
    margin-left: 15%;
}

#results {
    font-size: large;
    font-weight: bold;
}

#nameInput {
    width: fit-content;
}

@media (max-width: 800px) {
    #roll {
        margin-left: auto;
    }
}